[Unit]
Description=svcrouter container
After=svcmqtt.service

[Service]
Restart=always
EnvironmentFile=/etc/svcenv
ExecStart=/usr/bin/docker start -a svcrouter.${SVCDOMAIN}
ExecStop=/usr/bin/docker stop -t 2 svcrouter.${SVCDOMAIN}
StartLimitInterval=90
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
